<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="landingpage.css" type="text/css" />
		<title>FTL Viewer</title>
	</head>
	<body>
		<div class="container">
			<div class="company-title-wrapper">
				<span>Product by <b>company</b></span>
			</div>
			<div class="page-title-wrapper">
				<h1>USER<br>Viewer</h1>
				<h3>Mock in ReactJS</h3>
				<p>
					<span>Interface for viewing describes a list of users and <br> their corresponding periods of activity across
            multiple months.</span>
				</p>
			</div>
			<div class="view-btn-wrapper">
				<button class="add-event-button">
          <span class="add-event-button__title">
            View All Users  <i class="fas fa-calendar-week"></i>
          </span>
        </button>
      </div>
      <div class="img-placeholder">
        <img src="assets/image.svg" alt="left-image" id="image-left"/>
      </div>
		</div>

  </body>
</html>
