<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landingpage.css" type="text/css" />
    <title>FTL Viewer</title>
  </head>
  <body>
    <!-- <div class="container">
      <span>Product by <b>company</b></span>
      <h1><u>USER Viewer</u></h1>
      <button>View Users</button>
      <h3><b>Mock in ReactJS</b></h3>
      <p><span>A simple interface for viewing users' period of activity</span></p>
    </div> -->
   <div class="wrapper">
       <div>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit officiis sapiente ut doloribus dicta cumque sunt error voluptatem consectetur.
       </div>
   </div>
  </body>
</html>
