@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=Russo+One&display=swap");
/* // 
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Russo One', sans-serif; */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: aliceblue;
	color: white;
}

h1,
h2,
u,
strong {
	font-weight: 100;
	background-color: #111111;
	font-size: 70px;
	font-family: "Roboto Condensed", sans-serif;
	color: var(--secondaryColor);
	text-decoration: underline;
}

h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

p,
span,
label {
	font-family: "Montserrat", sans-serif;
	color: aliceblue;
}

body {
	-webkit-transition: smooth;
	transition: smooth;
}

.main-wrapper {
	height: 100vh;
	border-top: 20px solid #e50000;
	border-bottom: 20px solid #e50000;
}
.title-wrapper {
	text-align: left;
	color: #e50000;
	padding: 2.5em 0em 1em 3em;
	background-color: #111111;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table-wrapper {
	padding: 3em;
}
.table {
	width: 100%;
	border-collapse: collapse;
	cursor: pointer;
	overflow: hidden;
}
.table thead th {
	background-color: #bebebe;
	color: #111111;
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	padding-left: 0.5em;
	padding-top: 2em;
	padding-bottom: 0.5em;
}

.table tbody td {
	background-color: #ebebeb;
	color: #111111;
	font-family: "Roboto Condensed", sans-serif;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.table-row:hover {
	background-color: #e50000;
}
