* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    .wrapper {
        display: grid;
        grid-template-columns: 40% 30% 30%;
        div {
            background-color: lightgreen;
            padding: 1em;
        }
        div:nth-child(odd) {
            background-color: lightsalmon;
        }
    }
}