<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="userview.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="pretext">
				<span>Product by <b>company</b></span>
			</div>
			<div class="title">
				<div class="header">
					<h1><u>USER VIEWER</u></h1>
				</div>
				<div class="subtitle">
					<h3><b>Mock in ReactJS</b></h3>
				</div>
				<div class="description">
					<p>
						<span
							>A simple interface for viewing users' period of activity</span
						>
					</p>
				</div>
			</div>
			<div class="right-col">
				<div class="btn">
					<button>View Users</button>
				</div>
				<div class="img-wrapper">
					<img src="assets/image.svg" id="image-left" />
				</div>
			</div>
		</div>
	</body>
</html>
